.profile__edit-button {
  margin-top: 15px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

.profile__edit-button:focus {
  outline: 0;
}