.popup__container {
  position: absolute;
  background-color: #fff;
  max-width: 430px;
  min-height: 330px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}